@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

*{
    font-family: 'Open Sans' , sans-serif;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
body{
    display: flex;
    align-items: center;
    color: gray; 
    justify-content: center;
    flex-direction: column;
    background-color: rgb(172, 258, 252);
}

button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid lightcoral;
    background-color: 245, 211, 211;
    color: lightcoral;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

.buton1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    background-color: black;
    color: grey;
    font-size: 16pt;
    text-align: center;
}

#counter{
    display: flex;
}

#currentNumber{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  :checked + label {
    text-decoration: line-through;
    color: red;
  }